<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:mysql://localhost:3306/jboadb?useUnicode=true&amp;characterEncoding=utf8&amp;serverTimezone=GMT%2B8&amp;useSSL=false"</property>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="connection.username">root</property>
    <property name="connection.password">root</property>
    <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
    <mapping resource="cn/jboa/pojo/AskLeaveNote.hbm.xml"/>
    <mapping resource="cn/jboa/pojo/AskLeaveNoteDetail.hbm.xml"/>
    <mapping resource="cn/jboa/pojo/BizCheckResult.hbm.xml"/>
    <mapping resource="cn/jboa/pojo/BizClaimVoucher.hbm.xml"/>
    <mapping resource="cn/jboa/pojo/BizClaimVoucherDetail.hbm.xml"/>
    <mapping resource="cn/jboa/pojo/LeaveType.hbm.xml"/>
    <mapping resource="cn/jboa/pojo/SysDepartment.hbm.xml"/>
    <mapping resource="cn/jboa/pojo/SysEmployee.hbm.xml"/>
    <mapping resource="cn/jboa/pojo/SysPosition.hbm.xml"/>
    <!-- <property name="connection.username"/> -->
    <!-- <property name="connection.password"/> -->

    <!-- DB schema will be updated if needed -->
    <!-- <property name="hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>